
@{
    ViewBag.Title = "Home Page";
}

<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        position: fixed !important;
        height: 100% !important;
        width: 100% !important;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>


<div class="col-lg-6">
    <div id="map"></div>
</div>


    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 20,
                center: { lat: -34.397, lng: 150.644 },
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
        
            var mapStyles = [
                {
                    "stylers": [
                        {
                            "hue": "#ff1a00"
                        },
                        {
                            "invert_lightness": true
                        },
                        {
                            "saturation": -80
                        },
                        {
                            "lightness": 33
                        },
                        {
                            "gamma": 0.5
                        }
                    ]
                },
                {
                    "featureType": "administrative.neighborhood",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "visibility": "on"
                        },
                        {
                            "hue": "#ff0000"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#2D333C"
                        }
                    ]
                }
            ];
            map.set('styles', mapStyles);
            var geocoder = new google.maps.Geocoder();

            //document.getElementById('submit').addEventListener('click', function () {
            //    geocodeAddress(geocoder, map);
            //});

            geocodeAddress(geocoder, map);
        }

        function geocodeAddress(geocoder, resultsMap) {
            //  var address = document.getElementById('address').value;
            var address = "6255 se 19th street des moines iowa 503210";
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANM-MNjlvaju8maiq0zZbDk99JXmD_nrA&callback=initMap">
    </script>



